<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FIDO2</title>

    <script>
    
        function authenticate() {
            if (!("TextEncoder" in window)) 
                alert("Sorry, this browser does not support TextEncoder...");

            var enc = new TextEncoder(); // always utf-8

            const publicKeyCredentialCreationOptions = {
                challenge: enc.encode("testest"),
                rp: {
                    name: "Example CORP",
                    id  : "localhost"
                },
                user: {
                    id: new Uint8Array(16),
                    name: "jdoe@example.com",
                    displayName: "John Doe"
                },
                authenticatorSelection: { 
                    authenticatorAttachment: "platform",
                    userVerification: "required" 
                },
                pubKeyCredParams: [
                    {
                        "alg": -7,
                        "type": "public-key"
                    },
                    {
                        "alg": -8,
                        "type": "public-key"
                    },
                    {
                        "alg": -35,
                        "type": "public-key"
                    },
                    {
                        "alg": -36,
                        "type": "public-key"
                    },
                    {
                        "alg": -257,
                        "type": "public-key"
                    },
                    {
                        "alg": -258,
                        "type": "public-key"
                    },
                    {
                        "alg": -259,
                        "type": "public-key"
                    }
                ],
                authenticatorSelection: {
                    authenticatorAttachment: "platform" //cross-platform is working fine
                },
                timeout: 60000
            };
            
        navigator.credentials.create({
                publicKey: publicKeyCredentialCreationOptions 
            }).then(res => {
                console.log(res);
            }).catch(console.error);
        }
    </script>
</head>

<body onload="authenticate()">
    <h2>Webauthn</h2>
</body>

</html>
